/*/// Header ///*/

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/*/////// Slider ///////*/

.carousel-inner {
    max-height: 39rem ;
}
/*/////////////////////*/

/*//// Logos ////*/
.imglogos {
    height: 2rem;
    padding-right: 1em;
}

